:root {
  --color-white: rgba(163, 168, 178, 1);
  --color-grey: rgba(28, 29, 28, 1);
  --color-navy: rgba(22, 21, 47, 1);
  --color-navy-medium: rgba(26, 27, 56, 1);
  --color-navy-light: rgba(45, 50, 100, 1);
  --color-navy-dark: rgba(20, 20, 36, 1);
  --color-green: rgba(65, 97, 61, 1);
}
